<h2>Movies</h2>
<a class="btn btn-primary" href="movie/create">Create a movie document</a>
<ul class="list-group m-2 w-50">
{{#each movies}}
    <li class="list-group-item"><a style="text-decoration: none; color: black" href="/movie/{{_id}}">{{title}}</a></li>
{{/each}}
</ul>
<a class="btn btn-primary" href="/">Back</a>